GO111MODULE=auto

MORIGN_HTTP_LISTEN=':3002'

MORIGN_EMBEDDING_API_KEY=ollama
MORIGN_EMBEDDING_URL=http://localhost:11434/v1/
MORIGN_EMBEDDING_MODEL=bge-m3
MORIGN_INTERACT_API_KEY=
MORIGN_INTERACT_URL=
MORIGN_INTERACT_MODEL=
MORIGN_SUMMARIZE_API_KEY=
MORIGN_SUMMARIZE_URL=
MORIGN_SUMMARIZE_MODEL=
#MORIGN_PRESET_FILE='./data/preset.yaml'

#MORIGN_AUTH_REQUIRED=true
#OAUTH_CLIENT_ID=client-of-oauth-sp
#OAUTH_CLIENT_SECRET=secret-of-client
#OAUTH_PREFIX=https://staffio.work
#OAUTH_REDIRECT_URL=http://localhost:5001/auth/callback

#HTTPS_PROXY=socks5://192.168.1.100:1081
