GO111MODULE=auto

MORRIGAN_HTTP_LISTEN=':3002'

MORRIGAN_OPENAI_API_KEY=
MORRIGAN_EMBEDDING_API_KEY=ollama
MORRIGAN_EMBEDDING_URL=http://localhost:11434/v1/
MORRIGAN_EMBEDDING_MODEL=bge-m3
MORRIGAN_INTERACT_API_KEY=
MORRIGAN_INTERACT_URL=
MORRIGAN_INTERACT_MODEL=
MORRIGAN_SUMMARIZE_API_KEY=
MORRIGAN_SUMMARIZE_URL=
MORRIGAN_SUMMARIZE_MODEL=
#MORRIGAN_PRESET_FILE='./data/preset.yaml'

#MORRIGAN_AUTH_REQUIRED=true
#OAUTH_CLIENT_ID=client-of-oauth-sp
#OAUTH_CLIENT_SECRET=secret-of-client
#OAUTH_PREFIX=https://staffio.work
#OAUTH_REDIRECT_URL=http://localhost:5001/auth/callback

#HTTPS_PROXY=socks5://192.168.1.100:1081
