
systemPrompt: You are a helpful assistant.

welcome:
  content: Hello, I am your virtual assistant. How can I help you?
  role: assistant

beforeQA:
  - content: You are a helpful assistant.
    role: system
  - content: When is my birthday?
    role: user
  - content: How would I know?
    role: assistant
